@model EntityLayer.Concrete.User
@{
    ViewData["Title"] = "UserEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-10 col-md-11">
    <div class="card mb-4">
        <div class="card-header">
            Entry Düzenleme
        </div>
        @using (Html.BeginForm("UserEdit", "User", FormMethod.Post))
        {
            <div class="container-fluid mt-2">
                <div class="form-group">
                    @Html.TextBoxFor(x=>x.UserID,new{@class="form-control", @hidden="true"})
                </div>
                <div class="form-group">
                    @Html.Label("Üniversite:")
                    @Html.TextBoxFor(x=>x.Departmant.University.UniversityName,new {@class = "form-control", @readonly="readonly"})
                </div>
                <div class="form-group">
                    @Html.Label("Bölüm:")
                    @Html.DropDownListFor(x=>x.DepartmantID,(List<SelectListItem>)ViewBag.depValue,new{@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Üye ismi:")
                    @Html.TextBoxFor(x=>x.UserFirstName,new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Üye soy ismi:")
                    @Html.TextBoxFor(x=>x.UserLastName,new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Üye kullanıcı adı:")
                    @Html.TextBoxFor(x=>x.UserNickName,new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Üye mail:")
                    @Html.TextBoxFor(x=>x.UserMail,new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Üye şifre:")
                    @Html.TextBoxFor(x=>x.UserPassword,new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Üye tel no:")
                    @Html.TextBoxFor(x=>x.UserTelNo,new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Üye şifre:")
                    @Html.TextBoxFor(x=>x.UserStatus,new {@class = "form-control"})
                </div>
                
               @* <div class="form-group">
                    @Html.Label("Entry İçeriği:")
                    @Html.TextAreaFor(x=>x.EntryContent,10,3,new{@class = "form-control"})
                    @Html.ValidationMessageFor(x=>x.EntryContent)
                </div>*@
                <button type="submit" class="btn btn-success float-right mb-3">
                    Güncelle
                </button>
            </div>
        }

    </div>

</div>

