@model UserRegisterViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />

</head>
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Kayıt ol!</h1>
                            </div>
                            <form class="Person" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">

                                        <span asp-validation-for="@Model.FirsName" class="text-danger"></span>
                                        <input type="text" class="form-control form-control-Person" placeholder="Adınız" required="" asp-for="@Model.FirsName">
                                    </div>
                                    <div class="col-sm-6">
                                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                        <input type="text" class="form-control form-control-Person" placeholder="Adınız" required="" asp-for="@Model.LastName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <span asp-validation-for="@Model.Mail" class="text-danger"></span>
                                        <input type="email" class="form-control form-control-Person" placeholder="Email" asp-for="@Model.Mail">
                                    </div>
                                    <div class="col-sm-6">
                                        <span asp-validation-for="@Model.NickName" class="text-danger"></span>
                                        <input type="text" class="form-control form-control-Person" placeholder="Kullanıcı Adınız" asp-for="@Model.NickName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                    <input type="text" class="form-control form-control-Person" placeholder="Telefon Numaranız" asp-for="@Model.PhoneNumber">
                                </div>
                                <div class="form-group">
                                    <span asp-validation-for="@Model.University" class="text-danger"></span>
                                    <select class="form-control form-control-range " style="border-radius:30px" id="UniversityList" asp-for="@Model.University">
                                        <option>Bir Üniversite Seçiniz</option>
                                        @foreach (var item in Model.Universities)
                                        {
                                            <option value="@item.UniversityID">@item.UniversityName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <span asp-validation-for="@Model.DepartmantID" class="text-danger"></span>
                                    <select class="form-control form-control-range " style="border-radius:30px" id="DepartmantList" name="DepartmantID" asp-for="@Model.DepartmantID">
                                        <option>Bir Bölüm Seçiniz</option>
                                    </select>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                        <input type="password" class="form-control form-control-Person" placeholder="Şifre" required="" asp-for="@Model.Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                        <input type="password" class="form-control form-control-Person" placeholder="Şifre Tekrar" required="" asp-for="@Model.ConfirmPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Kullanın Şartlarını Okudum Kabul Ediyorum </label></div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block" onclick="formSubmit()">Kayıt Ol</button>

                                <hr>

                            </form>
                            <div class="text-center">
                                <a class="small" href="/Login/Index">Zaten hesabın mı var? Giriş yap!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>


</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#UniversityList').change(function () {
            $('#DepartmantList').empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDepartmantList")',
                dataType: 'json',
                data: { id: $('#UniversityList').val() },

                success: function (departmants) {
                    $('#DeparmantList').append('<option value"' + (-1) + '">'
                        + "Bölüm Seçiniz" + '</option>');
                    $.each(departmants, function (i, departmant) {
                        $('#DepartmantList').append($('<option>').val(departmant.value).text(departmant.text));
                    });
                }
            });
        });
    });

</script>
<script type="text/javascript">

    $("#formid").submit(function (event) {
        event.preventDefault(); //burada tıklanınca post işlemi yapmasın diye önlem alıyoruz
        var post_url = $(this).attr("action"); //formun urlsi alınıyor
        var form_data = $(this).serialize(); //formun datası alınıyor

        $.post(post_url, form_data);

        success: function(response) {
            window.location.href = '@Url.Action("Index","Login")'
        }

    });
</script>


</html>
