@using EntityLayer.Concrete
@model Person
@{
    ViewData["Title"] = "PersonEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    @using (Html.BeginForm("PersonEdit", "Person", FormMethod.Post))
    {
        <div class="form-group row">
            <div class="form-group">
                @Html.TextBoxFor(x=>x.PersonID,new{@class="form-control", @hidden="true"})
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x=>x.PersonStatus,new {@class = "form-control", @hidden="true"})

            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label> Ad:</label>
                @Html.TextBoxFor(x=>x.PersonFirstName,new {@class = "form-control"})
                
            </div>
            <div class="col-sm-6">
                <label>SoyAd:</label>
                @Html.TextBoxFor(x=>x.PersonLastName,new {@class = "form-control"})
               
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Nickname:</label>
                @Html.TextBoxFor(x=>x.PersonNickName,new {@class = "form-control"})
               
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label>Tel no:</label>
                @Html.TextBoxFor(x=>x.PersonTelNo,new {@class = "form-control"})
             
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label>Mail:</label>
                @Html.TextBoxFor(x=>x.PersonMail,new {@class = "form-control"})
            </div>
            <div class="col-sm-6">
                <label>Şifre:</label>
                @Html.TextBoxFor(x=>x.PersonPassword,new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label>Okul:</label>
                @Html.TextBoxFor(x=>x.Departmant.University.UniversityName,new {@class = "form-control", @readonly="readonly"})
            </div>
            <div class="col-sm-6 " style="border-radius:30px">
                <label>Bölüm:</label>
                @Html.DropDownListFor(x=>x.DepartmantID,(List<SelectListItem>)ViewBag.depValue,new{@class = "form-control"})
            </div>
        </div>
        <button class="btn btn-primary btn-Person btn-block" type="submit">
            Güncelle
        </button>

    }

</div>